html{
font-family: sans-serif;
font-weight: 540;
}

.hide{
	visibility: hidden;
}

.height{
height: 100%;
}

.box{
box-sizing: border-box;
}

.horizontal-line{

        display: inline-block;
        border-bottom: 1px solid #c6c6c6;
        width: 100%;
        
}

select{
   border:0px;
   outline:0px;
   background-color: #F7F9FB;
   width: 90px;
}

.label{
	display: block;
	color: #b6b7bb;
}

.title{
	font-size: 1.5em;
	font-family: sans-serif;
	font-weight: 700;
}

.title__color--gray{
	color: #C5C5C5;
}
.logo{
	width: 40px;
	height: 40px;
}
img{
	width: 100%;
	display: block;
	line-height: 0;
}

.icon{
	width: 15px;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

.color__grey{

}

.inline-block{
	display: inline-block;
}

.inline{
	display: inline;
}

.overflow{
	overflow: hidden;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

.margin__left-x{

}

.small{
	width: 5%;
}

.s--xx{
	width: 10%;
}

.s--xxx{
	width: 15%;
}

.s--xxxx{
	width: 20%;
}

.s--xxxxx{
	width: 25%;
}

.medium{
	width: 50%;
}

.large{
	width: 80%;
	max-width: 930px;
}

.margin{
	margin: 10px 10px 10px 10px;
}

.m-l{
	margin-left:10px; 
}

.m-r{
	margin-right: 10px;
}

.m-t{
	margin-top: 10px;
}

.m-b{
	margin-bottom: 10px; 
}

.margin-x{
	margin: 20px 20px 20px 20px;
}

.m-l-x{
	margin-left:20px; 
}

.m-r-x{
	margin-right: 20px;
}

.m-t-x{
	margin-top: 20px;
}

.m-b-x{
	margin-bottom: 20px; 
}

.margin-xx{
	margin: 30px 30px 30px 30px;
}

.m-l-xx{
	margin-left:30px; 
}

.m-r-xx{
	margin-right: 30px;
}

.m-t-xx{
	margin-top: 30px;
}

.m-b-xx{
	margin-bottom: 30px; 
}

.margin-xxx{
	margin: 40px 40px 40px 40px;
}

.m-l-xxx{
	margin-left:40px; 
}

.m-r-xxx{
	margin-right: 40px;
}

.m-t-xxx{
	margin-top: 40px;
}

.m-b-xxx{
	margin-bottom: 40px; 
}


.margin-xxxx{
	margin: 50px 50px 50px 50px;
}

.m-l-xxxx{
	margin-left:50px; 
}

.m-r-xxxx{
	margin-right: 50px;
}

.m-t-xxxx{
	margin-top: 50px;
}

.m-b-xxxx{
	margin-bottom: 50px; 
}

.margin-xxxxx{
	margin: 60px 60px 60px 60px;
}

.m-l-xxxxx{
	margin-left:60px; 
}

.m-r-xxxxx{
	margin-right: 60px;
}

.m-t-xxxxx{
	margin-top:60px;
}

.m-b-xxxxx{
	margin-bottom:60px; 
}

.padding{
	padding: 10px 10px 10px 10px;
}

.p-r{
	padding-right: 10px;
}

.p-l{
	padding-left: 10px;
}
.p-t{
	padding-top: 10px
}

.p-b{
	padding-bottom: 10px;
}

.padding-x{
	padding: 20px 20px 20px 20px;
}

.p-r-x{
	padding-right: 20px;
}

.p-l-x{
	padding-left: 20px;
}
.p-t-x{
	padding-top: 20px
}

.p-b-x{
	padding-bottom: 20px;
}

.padding-xx{
	padding: 20px 20px 20px 20px;
}

.p-r-xx{
	padding-right: 30px;
}

.p-l-xx{
	padding-left: 30px;
}
.p-t-xx{
	padding-top: 30px
}

.p-b-xx{
	padding-bottom: 30px;
}

.padding-xxx{
	padding: 40px 40px 40px 40px;
}

.p-r-xx{
	padding-right: 40px;
}

.p-l-xx{
	padding-left: 40px;
}
.p-t-xx{
	padding-top: 40px
}

.p-b-xx{
	padding-bottom: 40px;
}


.container{
	width: 95%;
	max-width: 1297px;
	margin: auto;
}


.bg__color--purpel{
	background: #7259a6;
}

.header{
	
}


.sidebar{

}

.sidebar__item{
	
}

.card{

}

.card--round{
	  border-radius: 25px;
}

.card__top--round{
	  border-radius: 25px 25px 0 0;

}

.card__size--small{
	width: 200px;
	height: 200px;	
}

.card__color--whitesmoke{
	background-color: #ffffff;
}

.card__color--gray{
	background-color:  #F7F9FB;
}

.profile{

}

.profile__pic >a>img{
	  border-radius: 50%;
}

.list{

}

.list__title{
	font-family: sans-serif;
	font-weight: 700;
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}


.btn {
	text-decoration:none;
	border-style: none;
	border-radius:27px;
	font-family:Arial;
	font-size:12px;
	padding:15px 20px;
	text-decoration:none;
}

.btn__color--blue {
	box-shadow: 0px 12px 28px -13px #6fc6eb;
	background-color:#03acfa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.fav{

}

.unfav{
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}

.squaredots>img{
	width: 20px;
}

.linemenu{
	width: 20px;
	opacity: .5;

}

.message>span{
	font-family: sans-serif;
	font-weight: 560;
}